.slds-spinner_container {
  visibility: visible !important;
opacity: 1 !important;
transition: opacity .2s ease, visibility 0s !important;
transition-delay: 0s, .3s !important;
width: 100% !important;
border-radius: 14px !important;
}

.spinner-main-div {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  position: fixed;
}
  
  .spinner-wrapper {
      position: absolute;
      top: 40%;
      left: 42%;
    margin: 80px;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.3s linear;
  
    &.hide {
      visibility: hidden;
      opacity: 0;
    }
  
    .spinner-container {
      height: 100%;
      width: 100%;
      display: table;
  
      .spinner-outer {
        vertical-align: middle;
        height: 100%;
        display: table-cell;
  
        .spinner {
          position: relative;
          margin: 0 auto;
          height: 50px;
          width: 70px;
          box-sizing: border-box;
          -webkit-animation: main 2s ease-in infinite;
          animation: main 2s ease-in infinite;
          background: none;
  
          .mask {
            box-sizing: border-box;
            overflow: hidden;
            position: absolute;
            border-radius: 3px;
          }
  
          .plane {
            background: #1976d2;
            width: 100%;
            height: 100%;
            position: absolute;
          }
  
          .left {
            width: 18px;
            height: 100%;
            left: 0;
  
            .plane {
              bottom: -100%;
              -webkit-animation: anim1 2s ease-in infinite;
              animation: anim1 2s ease-in infinite;
            }
          }
  
          .top {
            width: 100%;
            height: 18px;
            top: 0;
            border-radius: 1px;
  
            .plane {
              left: -100%;
              -webkit-animation: anim2 2s ease-in infinite;
              animation: anim2 2s ease-in infinite;
            }
          }
  
          .right {
            width: 18px;
            height: 100%;
            right: 0;
  
            .plane {
              top: -100%;
              -webkit-animation: anim3 2s ease-in infinite;
              animation: anim3 2s ease-in infinite;
            }
          }
  
          .triangle {
            box-sizing: border-box;
            overflow: hidden;
            position: absolute;
            width: 50px;
            height: 50px;
            top: -25px;
            left: 10px;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
  
  .spinner-wrapper
    .spinner-container
    .spinner-outer
    .spinner
    .triangle
    .triangle-plane {
    border-left: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 0;
    border-top: 50px solid #1976d2;
    height: 0;
    width: 0;
    position: absolute;
    -webkit-animation: anim4 2s ease-in infinite;
    animation: anim4 2s ease-in infinite;
    background: none;
  }
  .spinner-wrapper .spinner-container .spinner-outer .spinner .top-left {
    width: 100%;
    height: 9px;
    transform: rotate(135deg);
    left: -22px;
    top: -28px;
  }
  .spinner-wrapper .spinner-container .spinner-outer .spinner .top-left .plane {
    left: 100%;
    -webkit-animation: anim5 2s ease-in infinite;
    animation: anim5 2s ease-in infinite;
  }
  .spinner-wrapper .spinner-container .spinner-outer .spinner .top-right {
    width: 100%;
    height: 9px;
    transform: rotate(45deg);
    right: -22px;
    top: -28px;
  }
  .spinner-wrapper .spinner-container .spinner-outer .spinner .top-right .plane {
    right: 100%;
    -webkit-animation: anim6 2s ease-in infinite;
    animation: anim6 2s ease-in infinite;
  }
  .spinner-wrapper .spinner-container .spinner-outer p.spinner-text {
    font-family: YaroOp, Montserrat;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }
  @-webkit-keyframes main {
    0% {
      opacity: 0;
    }
    10%,
    80% {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes main {
    0% {
      opacity: 0;
    }
    10%,
    80% {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @-webkit-keyframes anim1 {
    0% {
      bottom: -100%;
    }
    10%,
    to {
      bottom: 0;
    }
  }
  @keyframes anim1 {
    0% {
      bottom: -100%;
    }
    10%,
    to {
      bottom: 0;
    }
  }
  @-webkit-keyframes anim2 {
    0%,
    10% {
      left: -100%;
    }
    20%,
    to {
      left: 0;
    }
  }
  @keyframes anim2 {
    0%,
    10% {
      left: -100%;
    }
    20%,
    to {
      left: 0;
    }
  }
  @-webkit-keyframes anim3 {
    0%,
    20% {
      top: -100%;
    }
    30%,
    to {
      top: 0;
    }
  }
  @keyframes anim3 {
    0%,
    20% {
      top: -100%;
    }
    30%,
    to {
      top: 0;
    }
  }
  @-webkit-keyframes anim4 {
    0%,
    30% {
      top: -100%;
    }
    40%,
    to {
      top: 0;
    }
  }
  @keyframes anim4 {
    0%,
    30% {
      top: -100%;
    }
    40%,
    to {
      top: 0;
    }
  }
  @-webkit-keyframes anim5 {
    0%,
    40% {
      left: 100%;
    }
    50%,
    to {
      left: 0;
    }
  }
  @keyframes anim5 {
    0%,
    40% {
      left: 100%;
    }
    50%,
    to {
      left: 0;
    }
  }
  @-webkit-keyframes anim6 {
    0%,
    50% {
      right: 100%;
    }
    60%,
    to {
      right: 0;
    }
  }
  @keyframes anim6 {
    0%,
    50% {
      right: 100%;
    }
    60%,
    to {
      right: 0;
    }
  }


  .auraPlaceholder.spin, .spinner{
    background: none !important;
  }