.slds-button-group .slds-button_icon {
    margin: 0 0.2rem;
}
.mainDiv{
    font-family: sans-serif;
    background-color: white;
    height: 53rem;
}
.subdiv{
    display: flex;
}
.managechecklist{    
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
}
.chicon{
    line-height: 30px;
}
.managechecklistdesc{
    font-size: 14px;
    margin-left: 4.5rem;
}
.backicon{
    line-height: 30px;
}
.headerdiv{
    border-bottom: 1px solid lightgray;
}

/*Buttons Start*/

 .navbar {
    display: flex;
    align-items: center;
}
.nav-button {
    padding: 10px 40px;
    margin-right: 10px;
    border: 1px solid #d0d9e8;
    background-color: #e8f0fe;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.add-button {
    padding: 10px 20px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
    margin-left: auto;
}

/*Buttons End*/

.tablediv{
    box-shadow: 0px 0px 10px 0px #00000040;
    border-radius: 8px;
}
.objdiv{
    width: 47%;
}

.objdiv .slds-input_faux{
    padding: 5px !important;
}
th{
    background-color: #e8f0fe !important;
    line-height: 24px !important;
}
.subtablediv tr td{
    padding-top: 10px;
    padding-bottom: 10px;
}
.subtablediv .slds-table_bordered{
    border-top: none !important;
    border-bottom: none !important;
}
.footerbtns{
    text-align: center;
    display: flex;
    justify-content: center;
}
.cancelbtn{    
    height: 40px;
    align-content: center;
    width: 100px;       
    color: #4285f4;    
    border-radius: 5px;
    cursor: pointer;    
    border: 1px solid black;
}
.savebtn{
    height: 40px;
    align-content: center;
    width: 100px;
    background-color: #4285f4;    
    border-radius: 5px;
    color: white;
    cursor: pointer;    
    border: 1px solid black;
}