.main-card {
    min-height: 100%;
    padding: 1rem;
}

.filter-search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #E1F1FE;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar lightning-input {
    width: 300px;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    gap: 1rem;
}

.no-prop {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-family: 'DM Sans';
}

.data-table-container{
    margin-top: 12px;
}

.custom-data-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    font-size: 14px;
}

.header-cell {
    padding: 10px;
    background-color: #0176D3;
    color: white;
    text-align: center;
}

.custom-data-table td {
    padding: 10px;
    border-bottom: 1px solid #dcdcdc;
    text-align: center;
}

.custom-data-table tr:nth-child(odd) {
    background-color: aliceblue;
}

.view-more-button {
    background-color: #0070d2;
    color: #fff;
    border: none;
    padding:5px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.view-more-button:hover {
    background-color: #005fb2;
}

.custom-data-table tr:last-child td {
    border-bottom: none;
}

.edit-btn {
    background-color: #0176D3;
    color: white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
    padding: 5px 16px;
}

.edit-btn:disabled {
    background-color: #737D8C;
    cursor: not-allowed;
}

.name-header {
    width: 8.5%;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px;
}

.empty-body{
    width: 100%;
    text-align: center;
}

.filter-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.slds-modal{
    position: absolute;
    /* bottom: 8rem; */
}

.slds-modal__content{
    min-height: 15rem;
    max-height: 16rem;
}

.slds-modal__container {
    position: absolute;
    right: 14rem;
    top: 3rem;
}


