*{
    font-family: 'verdana';
}

.mainDiv {
    border-radius: 5px;
    padding: 20px;
    min-height: 100%;
    background-image: url(/resource/backgroundImage);
    background-size: cover;
    background-position: center;
    width: 100%;

}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-left: 16px;
}

.add-button {
    width: 9rem;
}

.checkbox {
    height: 20px;
    width: 20px;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-text {
    margin-left: 1rem;
    font-size: 15px;
}

.picklist-div {
    width: 100%;
    margin-bottom: 1rem;
}

.symbol-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapping-symbol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.del-button {
    margin-top: 15%;
    border-radius: 5px; 
    border: 1px solid #acacac;
}

.del-button lightning-button-icon {
    padding: 0.5rem;
}

.save-btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    bottom: 1.5rem;
    width: 98%;
}

.save-btn button {
    font-weight: bold;
}

.mapping-symbol img {
    max-width: 2.5rem;
}

.disabled {
    --slds-g-color-neutral-base-95: #D2D2D2;
    --slds-g-color-neutral-base-50: white;
}

.disabled-del {
    background-color: #D2D2D2 !important;
    --slds-g-color-neutral-base-80: white !important;
}

.slds-modal__container.custom-width-33 {
    width: 33%;
}

.slds-text-align_center {
    text-align: center;
}

.con-msg {
    margin-top: 13px;
}

.map-container {
    display: flex;
    gap: 5%;
    width: 90%;
}

.condition-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;
    background-image: url(/resource/backgroundImage);
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-bottom: 1rem;

}

.closebtn{
    --slds-c-icon-color-foreground : #454545 !important;
}

.header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.condition-container  .slds-form-element__label .slds-no-flex{
    display: none;
}

.condition-input{
    width: 95%;
}

.condition-container-item {
    margin-right: 1rem;
    margin-left: 1rem;
    width: 100%;
}

.flex-container {
    display: flex;
    align-items: end;
    margin-bottom: 1rem;
}

.flex-item {
    flex: 1;
    margin: 0 0.5rem;
}

.index-display {
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-weight: bold;
    margin-bottom: 6px;
}

.icon-button-del {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    --slds-g-color-neutral-base-50: black;
    --lwc-borderWidthThin : none;
}

.scrollable-container {
    min-height: 55vh;
    max-height: 55vh;
    overflow: auto;
    --sds-c-input-radius-border: 8px;
}

.auto-sync {
    display: flex;
    margin-right: 1.7rem;
    justify-content: center;
    align-items: center;

}

.custom-modal .slds-modal__header{
    border: none;
    font-size: 1rem;
    display: flex;
}


.footer-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}

.close-button{
    background: #e0d8d8;
    color: black;
    width: 8rem;
    display: block;
    opacity: 51%;
    border-radius: 6px;
}

.check-button{
    border-radius: 6px;
}