*{
    font-family: 'verdana';
}

.mainDiv {
    border-radius: 5px;
    padding: 20px;
    min-height: 100%;
    background: linear-gradient(to right, #eafdff, #f0f0f0);
}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.title-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.title {
    font-size: 23px;
    font-weight: bold;
    color: #333;
}

.buttons {
    display: flex;
    align-items: center;
    margin-left: auto; 
    position: absolute;
    top: 1.6rem;
    right: 1.4rem;
}

.add-button {
    width: 5rem;
}

.checkbox {
    height: 20px;
    width: 20px;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-text {
    margin-left: 5px;
    font-size: 15px;
}

.picklist-div {
    width: 100%;
    margin-bottom: 1rem;
}

.symbol-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapping-symbol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.del-button {
    margin-top: 15%;
    background-color: #FFE2E2;
    border-radius: 5px; 
}

.del-button:hover {
    background-color: #FFD2D2; 
}

.del-button lightning-button-icon {
    padding: 0.5rem;
}

.save-btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    bottom: 1.5rem;
    width: 98%;
}

.save-btn button {
    font-weight: bold;
}

.mapping-symbol img {
    max-width: 2.5rem;
}

.disabled {
    --slds-g-color-neutral-base-95: #D2D2D2;
    --slds-g-color-neutral-base-50: white;
}

.disabled-del {
    background-color: #D2D2D2 !important;
    --slds-g-color-neutral-base-80: white !important;
}

.slds-modal__container.custom-width-33 {
    width: 33%;
}

.slds-text-align_center {
    text-align: center;
}

.con-msg {
    margin-top: 13px;
}

.map-container {
    display: flex;
    gap: 5%;
    width: 90%;
}

.condition-container {
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 1rem;
    position: absolute;
    bottom: 4rem;
    width: 98%;
}

.condition-container-item {
    margin-right: 1rem;
    margin-left: 1rem;
}

.flex-container {
    display: flex;
    align-items: end;
    margin-bottom: 1rem;
}

.flex-item {
    flex: 1;
    margin: 0 0.5rem;
}

.index-display {
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-weight: bold;
    margin-bottom: 6px;
}

.icon-button-del {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    --slds-g-color-neutral-base-50: red;
    --lwc-borderWidthThin : none;
}

.scrollable-container {
    min-height: 55vh;
    max-height: 55vh;
    overflow: auto;
}
