.full-page-container{
    height: 89%;
}

.main{
    
    width: 100%;
    height: 100%;
}

.main .slds-icon_small, .slds-icon--small{
    height: 1rem;
}

.main .second-row{
    margin-top:0.5rem;
}

.main .slds-page-header__row .slds-page-header__col-controls .activeButton{
    background-color: rgb(1, 118, 211);
}

.main .slds-page-header__row .slds-page-header__col-controls .slds-button svg{
    height:  .875rem;
    width:  .875rem;
    fill: rgb(116, 116, 116);
}

.main .slds-page-header__row .slds-page-header__col-controls .slds-button .activeSvg{
    fill: rgb(255, 254, 254);
}

.main .body{
    width: 100%;
    height: 100%;
    display: flex;
}

.main .body .innerDiv1{
    background-color: white;
    display: flex;
    width: 30%;
    flex: 1 1 auto;
}

.expanded1 {
    width: fit-content; /* Width when expanded */
}

.main .body .innerDiv1 .removeInnerDiv1{
    display: none;
}

.main .body .innerDiv1 .filterDiv{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 3rem;
}

.main .body .innerDiv1 .filterWrap{
    background-color: rgb(243, 243, 243);
    width: 1rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #c9c9c9;
    border-left: 1px solid #c9c9c9;
}

.main .body .innerDiv1 .filterWrap svg{
    height: 1rem;
    width: 0.8rem;
    fill: black;
    cursor: pointer;
    transition: 0.6s;
}

.main .body .innerDiv1 .filterWrap .svgRotate{
    transform: rotate(180deg);
    transition: 0.6s;
}

.main .body .innerDiv2{
    background-color: white;
    overflow: scroll;
    width: 70%;
    flex: 1 1 auto;
    /* margin-bottom: -1rem; */
}


.expanded2 {
    width: 100%; /* Width when innerDiv1 is expanded */
}

.main .body .innerDiv2::-webkit-scrollbar {
    width: 0.3rem;   
}

.main .slds-table td{
    height: 4rem;
}

.tableDiv{
    overflow: auto;
    height: 81%;
    
}

.noresult{
    overflow: auto;
    height: 81%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noresult .tag1{
    font-family: "Sans-Serif",Montserrat;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 25px;
    text-align: center;

}

.noresult .tag2{
    font-family: "Sans-Serif",Montserrat;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 25px;
    text-align: center;

}




.main .body .innerDiv2 .slds-cell_action-mode .slds-icon_container{
    display:none
}
.main .body .innerDiv2 .colume1{
    width:3.25rem
}
.main .body .innerDiv2 .imageColume{
    width:5.25rem
}
.main .body .innerDiv2 .property-image{
    width: 4rem;
    height: 3rem;
}
.main .body .innerDiv2 .colume1:hover .slds-icon_container{
   display:block;
   /* transform: rotate(180deg); */
}
.main .body .innerDiv2 .colume2:hover .slds-icon_container{
   display:block;
}
.main .body .innerDiv2 .slds-icon-utility-arrowdown svg{
    height: 0.8rem;
    fill: #0176d3;
}
.rotate-asc {
    transform: rotate(0deg);
    transition: transform 0.3s;
}

.rotate-desc {
    transform: rotate(180deg);
    transition: transform 0.3s;
}

.paginationDiv{
    height: 19%;
    background-color: rgb(243,243,243);
}

.paginationDiv .btnCover{
    display: flex;
    justify-content: left;
}

.paginationDiv .pageNumberDiv{
    display: flex;
    justify-content: center;
    align-items: center;  
}