.lightning-card-inner {
  position: fixed;
  width: -webkit-fill-available;
  margin: 0rem 1rem 1rem 0rem;
  height: -webkit-fill-available;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.lightning-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 0.3px solid #00000045;
}

.logo img {
  width: 8rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: auto;
  margin-left: 0;
}

.title h2 {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  letter-spacing: 0.05em;
  padding-right: 1rem;
}

.badge {
  background-color: #cce7cf94;
  color: #37a137;
  border-radius: 10px;
  padding: 5px 10px;
  display: inline-block;
}

.field-mapping-container {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 1rem;
  height: -webkit-fill-available;
  position: absolute;
  width: -webkit-fill-available;
}

.buttons {
  display: inline-flex;
  align-items: center;
}

.buttons .settings {
  margin-right: 10px;
  padding: 8px 12px;
  border: 0.1px solid black;
  border-radius: 5px;
  background-color: white;
  color: #007bff;
  cursor: pointer;
}

.segmented-buttons {
  display: inline-flex;
}

.segmented-buttons .segmented {
  padding: 8px 12px;
  border: 0.1px solid black;
  background-color: white;
  color: #007bff;
  cursor: pointer;
  margin-left: -1px;
  /* to eliminate double borders */
}

.segmented-buttons .segmented:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 0;
  /* reset margin for the first segmented button */
}

.segmented-buttons .segmented:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.portalMapping_data-row:nth-child(odd) {
  background-color: rgba(231, 244, 255, 1);
}

.tableContainer {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
}

.portalMapping_header-row {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  padding: 1rem;
}

.portalMapping_recordValues {
  overflow: auto;
  user-select: none;
  height: 100%;
}

.header-text {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.09px;
}

.portalMapping_data-row {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  gap: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-bottom: 1px solid #d3d3d3;
  align-items: center;
}

.slds-col {
  width: 90%;
}

.view_input {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button[disabled] {
  cursor: default !important;
  background-color: unset !important;
  color: unset !important;
}

.red_css {
  color: red;
  position: absolute;
  left: 4px;
  z-index: 99;
}

.position_css {
  position: relative;
}

.badge-red {
  background-color: #ead3d394;
  color: #e61818;
  border-radius: 10px;
  padding: 5px 10px;
  display: inline-block;
}

.empty-state {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-state__content {
  padding: 48px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
}

.empty-state__content .empty-state__icon {
  width: 30%;
  height: -webkit-fill-available;
}

.empty-state__content .empty-state__message {
  color: #31a9be;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0.85rem;
}

.font_styles {
  color: black;
}