.input-field input{
  border: 2px solid #35a5ff;
}

.input-field button{
  border: 2px solid #35a5ff;
}

.pill-content button{
  border: none;
}

.input-field .slds-form-element__label{
  font-size: 13px;
}

.input-field-bold .slds-form-element__label{
  font-weight: bold;
}

button[disabled] {
  cursor: default !important;
  background-color: #D2D2D2 !important;
  color: white !important;
}

.footer-btns button{
  padding: 4px 20px 4px 20px;
  border-radius: 9px !important;
}

.slds-icon_container .slds-icon_container .slds-icon{
  height: 1rem !important;
  width: 1rem;
}

.slds-pill_container .slds-pill__label{
  margin-left: 6px;
}

.slds-pill_container .slds-pill{
  margin-top: 10px;
  margin-left: 0px !important;
}

.slds-pill_container button{
  border: none;
}

.input-field .slds-pill_container{
  border: none;
  display: flex;
  gap: 0.5%;
  /* padding-bottom: 0.7rem;
  padding-top: 0.3rem; */
  flex-wrap: wrap;
}