.main .slds-card__body{
    margin-top: 0rem;
    margin-bottom: 0rem;
}
.slds-coordinates{
    display:none;
}
.mapCmp .slds-has-coordinates{
    overflow:unset;
}

.main .action-button .slds-button {
    border: 2px solid #E3E3E3;
}