
.slds-checkbox_faux_container{
    display: flex !important;
  }
  
  .slds-checkbox_on {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: small !important;
  }
  
  .slds-checkbox_faux{
    margin-right: 1rem !important;
  }
  