.progress {
    width: 100%;
}

.content {
    display: flex;
    justify-content: space-between;
}

.left-content {
    display: flex;
    justify-content: start;
}

.right-content {
    justify-content: end;
}

progress {
    width: 100%;
}

.slds-modal__container {
    max-width: 60rem;
    /* Adjust the max-width as needed */
    width: auto;
    margin: 1.75rem auto;
    /* Adjust the margin as needed */
}

.title_delete {
    background-color: #FFE8E8;
    color: #DD3333;
    height: 52px;
}

.title_delete h2{
    font-size: 0.9rem;
}

.title {
    background-color: #E1F1FE;
    color: #016DC3;
}

.title_text {
    font-size: 20px;
}

.title_text b{
    font-size: 20px;
}

.bottom_footer {
    background-color: white;
    height: 52px;
}

.popup_modal {
    width: 45%;
}

.img_popup {
    width: 60%;
}

.main_content {
    text-align: center;
    font-size: 26px;
    height: 100px;
}
.main_content h2{
    font-size: 0.7rem;
}

.label {
    margin-bottom: 5px;
}

.customimg {
    width: 65px;
    max-width: 100%;
    height: auto;
    padding: 0.5em;
    border: 1px solid #000;
    box-sizing: border-box;
    display: block;
    margin: 2px;
}

.buttons_upload {
    background-color: #016DC3;
    color: white;
}

.buttons_close {
    border: 1px solid #747474;
    background-color: #FFFFFF;
    color: #016DC3;
}

.buttons_delete_yes {
    height: 32px;
    width: 70px;
    border: 2px solid #DD3333;
    background-color: #DD3333;
    color: white;
}

.buttons_delete_no {
    height: 32px;
    width: 70px;
    border: 1px solid #747474;
    background-color: #FFFFFF;
    color: #DD3333;
}

.slds-backdrop_open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    /* Adjust the opacity as needed */
    z-index: 9000;
    /* Ensure it has a higher z-index than the modal */
}

.buttons {
    margin-inline: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 2% 0 0 0;
    font-size: smaller;
    font-weight: lighter
}

.custom-card {
    font-size: smaller;
    font-weight: lighter;
}

.dragable-container {
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    /* Set the maximum height as needed */
    overflow-y: auto;
    /* Add vertical scrollbar when needed */
}

.dragable-container img {
    height: 4rem;
    width: 4rem;
    margin: 5px;
    transition: background-color 0.3s ease;
    /* Add transition for smooth effect */
}

.dragable-container img:hover {
    border: 1px solid black;
    background-color: #e0e0e0;
    /* Change to the desired highlight color */
}

.sort-container {
    display: flex;
    margin-inline: 10px;
}

hr {
    margin-block: 5px;
}

.large-text {
    font-size: 12px;
    font-weight: 400;
}

.highlight:hover {
    border: 1px solid black;
    background-color: #cdcbcb;
    /* Change to the desired highlight color */
}

.highlight {
    transition: background-color 0.5s ease;
    /* Adjust timing here */
    background-color: #cdcbcb;
    /* Change to the desired highlight color */
}

.statusbox {
    line-height: 1.5;
}

.mainContainer {
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .modalbody {
        height: 47vh !important;
        padding-top: 6% !important;
        overflow: visible;
    }

    .popup-m {
        width: 75%;
        position: relative;
        top: 0%;
        bottom: 30%;
        justify-content: center;
    }

    .popup-btn {
        text-align: start;
        display: flex;
        justify-content: flex-end;
    }

    .mainContainer {
        background-color: #016DC3;
    }

    .fading {
        /* height: 200vh; */
        overscroll-behavior-y: none;
        /* background-color: red; */

    }

    .imageviewer {
        width: 75% !important;
    }

    .content {
        flex-direction: column !important;
        overflow: scroll;
    }

    .attachment_main_div {
        margin-top: 2vh;
    }

    .attachment {
        margin-inline: 2vh;
        width: 90%;
    }

    .image {
        width: 90%;
        margin-inline: 2vh;
    }

    .container {
        flex-direction: column;
        padding: 10px;
        gap: 2vh;
    }

    .pill {
        margin-left: 2vh;
        width: 70%;
    }

    /* added div for it */
    .table {
        overflow-x: scroll;
        margin-inline: 2vh;
    }

    th,
    td {
        min-width: 200px;
    }

    .stylebtn {
        flex-direction: column;
    }

    .groupbtn {
        margin-left: 2vh;
        margin-top: 2vh;
    }

    .btns {
        display: flex;
        margin-left: 1vh;
        margin-top: 1vh;
    }

    .popup_modal {
        width: 75% !important;
    }

    .footer_btn {
        display: flex;
        justify-content: flex-end;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : landscape) {
    .table {
        overflow-x: scroll;
        margin-inline: 2vh;
    }

    .content {
        flex-direction: column !important;
        overflow: scroll;
    }

    .modalbody {
        height: 58vh !important;
        padding-bottom: 8% !important;
        overflow: visible;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : Portrait) {
    .modalbody {
        height: 38vh !important;
        padding-left: 6%;
    }
}

.lightningPillCss {
    gap: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.padding_css {
    padding: 5px;
}

.astrick_css {
    color: red;
}


@media only screen and (max-width: 500px) {
    *{
        font-size: 0.5rem;
        /* padding: 0.4rem; */
    }
    .stylebtn {
        flex-direction: row;
    }
    .btns {
        margin-top: 2vh;
    }
    .left{
        display: flex;
        justify-content: space-evenly;
        height: 2rem;
        margin-bottom: 0.5rem;
        border: 2px solid #61A9E4;
        border-bottom: none;
        border-radius: 0.2rem;
        background-color: #D8EDFD;
    }

    .right{
        padding-left: 1rem;
    }

    .feed-tab{
        width: 34%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-weight: 500;
        height: 100%;
    }

    .feed-tab-active{
        background-color: #0176D3; 
        color: white;
        border: 3px solid;  
    }

    .sort-container {
        display: block;
    }

    .card-view{
        display: flex;
        border: 1px solid #000000;
        border-radius: 0.3rem;
        height: 11rem;
        background-color: white;
    }
    .card-view .btn-div{
        display: flex;
        flex-direction: column;
        width: 2rem;
        justify-content: space-around;
    }
    .card-view .btn-div .icon-btn{
        /* padding: 0.3rem; */
        border: black solid 1px;
        border-radius: 0.2rem;
        margin: 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.5rem;
        height: 1.5rem;
    }
    .card-view .img-section{
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-view .img-section img{
        width: 4rem;
        max-width: 100%;
        height: 4rem;
        box-sizing: border-box;
        display: block;
        padding: 0rem;
        border: none;
        margin: 0rem;
    }
    .card-view .detail-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 25%;
    }
    .card-view .name-section{
       padding: 0.3rem;
       margin-top: 0.4rem;
    }
    .card-view .name-section label{
        font-size: 0.8rem;
        font-weight: 600;    
    }
    .card-view .name-section h2{
        font-size: 0.6rem;
        font-weight: 300;    
    }
    .status-section{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
    }
    .status-section label{
        font-size: 0.8rem;
        font-weight: 600; 
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        
    }




}